/*
 * INST 728z project
 * Stylesheet
 */


/* Global */
body {
    padding-top: 80px;
}
button.close {
    color: #95a5a6;
}
button.close:hover,
button.close:active,
button.close:focus,
button.close:visited {
    color: #798d8f;
}

/* Main Left */
.affix-top {
    width: 262.5px;
}
.affix {
    width: 262.5px;
}

/* Main Right */
.main-right-content {
    min-height: 500px
}
.main-h1-title {
    margin-top: 0px;
}
.main-p-subtitle {
    font-size: 24px;
}
.main-p-subsubtitle {
    font-size: 20px;
}
.nav.nav-tabs > li > a {
    line-height: 24px;
}
.main-table-clickable {
    cursor: pointer;
}
.panel-heading-message {
    height: 56px;
}
.panel-heading-message h3 {
    margin-top: 8px;
}
.material-title-input {
    margin-top: -12px;
    min-width: 300px;
}
.panel-btns {
    min-width: 80px;
}

/* Input Button */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}